@use 'reset';
@use 'global';
@use 'media';



.notification {
  width: 100%;
  padding: 15px 0;
  background-color: #D0E8F9;

  &__text {
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #577f9c;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.menu {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item+&__item {
    margin-left: 30px;
  }

  &__link {
    font-size: 16px;
    color: #383838;
    line-height: 25px;
    text-decoration: none;
    transition: all .3s;

    &:hover {
      color: #0DA3FF;
    }
  }
}

.contact {
  display: flex;

  &__info {
    margin-right: 30px;
  }

  &__info a {
    color: #0DA3FF;
    font-size: 18px;
    line-height: 25px;
  }

  &__info p {
    font-size: 14px;
    line-height: 20px;
    color: rgba(56, 56, 56, .514);
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: #fff;
    background-color: #0DA3FF;
    border-radius: 32px;
    padding: 15px 25px;
    cursor: pointer;
  }
}

.hero {
  display: flex;
  background-image: url(../images/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 140px;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
  }

  &__content {
    padding: 90px 0;
  }

  &__title {
    font-size: 62px;
    font-weight: 600;
    line-height: 65px;
    color: #383838;
    max-width: 535px;
    margin-bottom: 40px;
  }

  &__right {
    margin-right: 90px;
  }

  &__text {
    margin-bottom: 70px;
  }

  &__text p {
    font-size: 18px;
    color: #383838;
    line-height: 25px;
    padding-left: 40px;
    position: relative;
    margin-bottom: 15px;
  }

  &__text p::after {
    content: "";
    height: 30px;
    width: 25px;
    left: 0px;
    top: 0px;
    display: block;
    position: absolute;
    background: url('../images/icons/check.svg');
  }

  &__buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__buttons .button--help {
    width: 206px;
    height: 55px;
    background-color: #0DA3FF;
    font-weight: 600;
    color: #fff;
    border-radius: 32px;
    margin-right: 20px
  }

  &__buttons .button--call {
    width: 206px;
    height: 55px;
    color: #0DA3FF;
    font-weight: 600;
    outline: 1px solid #0DA3FF;
    border-radius: 32px;
  }
}

.service {
  margin-bottom: 140px;

  &__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 55px;
    color: #383838;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
  }

  &__item {
    padding: 10px 10px 30px;
    background-color: #F1F8FD;
    max-width: 387px;
    border-radius: 20px;

    &-title {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;
      color: #383838;
      margin-bottom: 15px;
    }

    &-img {
      border-radius: 10px;
      margin-bottom: 25px;
    }

    &-text {
      font-size: 16px;
      line-height: 25px;
      color: #383838;
      opacity: 0.75;
      margin-bottom: 40px;
      max-width: 318px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0DA3FF;
    border-radius: 32px;
    font-weight: 600;
    margin: 0 20px;
    padding-left: 35px;
  }

  &__price {
    color: #0DA3FF;
  }

  &__btn {
    border: none;
    color: #fff;
    background: hsl(203, 100%, 53%);
    border-radius: 32px;
    padding: 0 25px;
    height: 55px;
    cursor: pointer;
  }
}

.stage {
  margin-bottom: 140px;

  &__inner {
    padding-top: 185px;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    gap: 15px;
    position: relative;
  }

  &__item-text {
    color: #383838;
    line-height: 20px;
    font-weight: 500;
  }

 
}




